{{> messages }}

<a href="/formulas" class="button is-link is-rounded"><i class="fas fa-arrow-left" aria-hidden="true"></i></a>
<hr>
<div class="card">

    <form class="eraseFunction" action="/ingredients/add-ingredients" method="POST">

        <header class="card-header">
            <p class="card-header-title">Ingredientes para hacer {{formula.name}}</p>
            <a href="#" class="card-header-icon" aria-label="more options">
                {{!-- <span class="icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span> --}}
            </a>
        </header>

        <div class="card-content">
            <div class="content">

                <label class="label">Nuevo ingrediente</label>
                <input class="input" type="text" name="name" placeholder="Escribe el nombre...">

                <label class="label">Unidad</label>
                <input class="input" type="text" name="unit" placeholder="Que unidad tiene...">

                <label class="label">Cantidad</label>
                <input class="input" type="number" name="quantity" placeholder="Cuanto necesita...">
                <input type="hidden" name="formulaId" value="{{formula._id}}">

            </div>
        </div>

        <footer class="card-footer">

            <button type="subtmit" class="card-footer-item button is-white"><span class="has-text-success">Agregar</span><span class="icon has-text-success"><i class="fas fa-check"></i></span></a>
            <button type="button" id="eraseBtn" class="card-footer-item button is-white" onclick="eraseFunction()"><span class="has-text-danger">Borrar</span><span class="icon has-text-danger"><i class="fas fa-times"></i></span></button>
        </footer>

    </form>

</div>

<div class="card">
    <header class="card-header">
        <p class="card-header-title is-relative" style="width: 100%;">Cantidad para hacer un tanto:</p>

        
    </header>
</div>

{{#each ingredients}}
    <div class="card">
        <header class="card-header">

            <p class="card-header-title is-relative ingredient" style="width: 100%;"># {{name}}</p>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label unit">{{unit}}</label>
                </div>

                <div class="field-body">

                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input id="editValue-{{_id}}" class="input quantity" type="text" placeholder="Name" value="{{quantity}}">
                        </p>
                    </div>
                    
                </div>

            </div>

            <div class="card-footer-item"></div>
            <a id="editIngredietBtn-{{_id}}" class="card-footer-item editIngredient" onclick="submitEditIngredient(this.id)"><span class="icon has-text-warning"><i class="far fa-edit"></i></span></a>
            <a id="deleteIngredient-{{_id}}" class="card-footer-item deleteIngredientBtn" onclick="deleteModal(this.id)"><span class="icon has-text-danger"><i class="fas fa-times"></i></span></a>

            <form id="editForm-{{_id}}" action="/ingredients/edit-ingredients/{{_id}}" method="post">
                <input id="hiddenEdit-{{_id}}" type="hidden" name="unit" value="">
            </form>

        </header>
    </div>

    {{!-- modal --}}
    <div id="modal-deleteIngredient-{{_id}}" class="modal">
        <div class="modal-background"></div>
            <div class="modal-content">
                <!-- Any other Bulma elements you want -->
                <div class="box">
                    <p>Estás seguro de borrar el ingrediente #{{name}}?</p>

                    <div class="field is-grouped">
                        <form action="/ingredients/delete-ingredients/{{_id}}" method="post">
                            <button class="button is-danger mx-1" type="submit">Sí eliminar</button>
                        </form>
                        <button id="closeBtn-{{_id}}" class="button is-primary mx-1 closeBtn" onclick="closeDeleteModal(this.id)">cancelar</button>

                        
                        </p>
                    </div>
                </div>
            </div>
        <button id="CloseBtn-{{_id}}" class="modal-close is-large" aria-label="close"onclick="closeDeleteModal(this.id)"></button>
    </div>
            
{{else}}
    <div class="card">
        <header class="card-header">
            <p class="card-header-title is-relative" style="width: 100%;">No hay ingredientes :(</p>
        </header>
    </div>
{{/each}}

<hr>

<div class="card">
    <header class="card-header">
        <p class="card-header-title is-relative" style="width: 100%;"># Qué cantidad quieres hacer de {{formula.name}}?</p>

        
    </header>

        <div class="card-content">
            <div class="content">

                <label class="label">Cantidad</label>
                <input id="wishValue" class="input" type="text" name="" placeholder="Cuanto requiere..." value="">
                
            </div>
        </div>

        <footer class="card-footer">
            <button id="calculate" class="card-footer-item button is-white"><span class="has-text-success">Calcular</span><span class="icon has-text-success"><i class="fas fa-check"></i></span></a>
            <button id="again" class="card-footer-item button is-white"><span class="has-text-danger">Otra vez</span><span class="icon has-text-danger"><i class="fas fa-times"></i></span></button>
        </footer>

</div>

<hr>

<div class="card">
    <header class="card-header">
        <p class="card-header-title is-relative" style="width: 100%;"># Resultado</p>
    </header>
</div>

<div id="result"></div>


{{!-- dummy template --}}
{{!-- <div class="card">
    <header class="card-header">
        <p class="card-header-title is-relative" style="width: 100%;">any field</p>

        <div class="field is-horizontal">
            <div class="field-label is-normal"><label class="label">Unidades</label></div>

            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input id="editValue-" class="input " type="text" placeholder="Name" value="any">
                    </p>
                </div>
            </div>

        </div>
        <div class="card-footer-item"></div>
        <div id="editIngredietBtn-" class="card-footer-item editIngredient"><span class="icon has-text-success"><i class="fas fa-arrow-left"></i></span></div>
    </header>
</div> --}}
